.center {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
padding: 10px;
}

.letterInside {
font-family: Papyrus, fantasy;
height: 70%;
width: 60%;
overflow-wrap: break-word;
position: absolute;
left: 50%;
top: 55%;
transform: translate(-50%, -50%);
padding: 10px;
font-size: 20px;
}

body{
	background-image: url("../assets/img/woodenTable.png");
}

#signature{
	text-align: right;
}
#content{
	padding-left: 20px;
}